<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid form-box">
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarText">
      <span class="navbar-text textL">
        Time in Thailand: 15:57 (GMT+7) | 1st October 2021 
      </span>
      <i class="bi bi-person-circle ms-4 icon-size"></i>
      <a class="navbar-text ms-2 ms-4 textL">
        Lorem Co Ltd.
      </a>
      <i class="bi bi-caret-down-fill  ms-2 icon-size-small"></i>
    </div>
  </div>
</nav>