.textxl{

    font-size: 20px;
}
.textL{
    font-size: 16px;
}@media (max-width: 425.98px) {
  .form-box { padding: 12px; }
  .textxl { font-size: 16px; }
  .textL { font-size: 14px; }
}
@media (max-width: 320px) {
  .form-box { padding: 12px; }
  .textxl { font-size: 16px; }
  .textL { font-size: 10px; }
}
.icon-size {
    font-size: 24px;
}
.icon-size-small {
    font-size: 16px;
}